body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css or Sidebar.css */

.sidebar {
  width: 30%;
  height: 100vh;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
}

/* For screens smaller than 600px */
@media (max-width: 599px) {
  .sidebar {
    width: 100%;
    padding: 10px;
  }
}

/* For screens between 600px and 899px */
@media (min-width: 600px) and (max-width: 899px) {
  .sidebar {
    width: 50%;
    padding: 15px;
  }
}
